includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 9
    paths:
        - src/
    tmpDir: .phpstan-cache
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
        # Form type 2nd argument: Symkit types (FormSectionType, SlugType, MediaType) are FormTypeInterface
        - '~Parameter #2 \$type of method Symfony\\Component\\Form\\FormBuilderInterface::add\(\) expects class-string.*, string given\.~'
        # Optional Symkit packages: Menu::getItems(), Faq::getFaqItems(), UrlGenerator::generate(Route)
        - '~Call to an undefined method Symkit\\MenuBundle\\Entity\\Menu::getItems\(\)\.~'
        - '~Call to an undefined method Symkit\\FaqBundle\\Entity\\Faq::getFaqItems\(\)\.~'
        - '~Parameter #1 \$name of method.*UrlGeneratorInterface::generate\(\) expects string, object given\.~'
        # MediaUrlGenerator::generateUrl() may be typed as string in stubs
        - '~Strict comparison using !== between null and string will always evaluate to true\.~'
    reportUnmatchedIgnoredErrors: true
